:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

table,
th,
td {
  border: 1px solid #666;
  border-collapse: collapse;
}

/* table {
  width: 560px;
} */

th {
  width: 90px;
}

th,
td {
  padding: 6px 12px;
}

th:first-child,
td:first-child {
  width: 0;
}

th.num,
td.num {
  text-align: right;
}

th.border,
td.border {
  border-right-width: 3px;
}

.input-row {
  margin-bottom: 12px;
}

.inline-inputs {
  display: flex;
  gap: 10px;
}

label {
  font-size: 12px;
  display: block;
}

input {
  font-size: 16px;
  padding: 6px 5px;
}

.chart-container {
  width: 560px;
  position: relative;
  margin: 20px 0;
}
